* {
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}
.containertitleBoard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50vh;
    flex-direction: row;
    margin-top: 20px;
    align-items: flex-start;
}

.slot {
    /* background-color: blue; */
    height: 80px;
    width: 80px;
    overflow: hidden;
}

.hole {
    height: 60px;
    width: 60px;
    border: 40px solid teal;
    border-radius: 50%;
    transform: translate(-30px, -30px);
}

#board {
    display: flex;
    padding-bottom: 50px;
}

.player1 {
    background-color: black;
}

.player2 {
    background-color: burlywood;
}

.victoryBox1 {
    /* background-color: grey;
    border: solid black 1px; */
    height: 60vh;
    width: 300px;
    text-align: center;
    visibility: hidden;
}

p {
    font-size: 30px;
    padding-top: 10px;
    margin-top: 15px;
}

.victoryBox2 {
    /* background-color: grey;
    border: solid black 1px; */
    height: 60vh;
    width: 300px;
    text-align: center;
    color: burlywood;
    visibility: hidden;
}

.bellow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 700px;
    height: 80px;
    margin-top: 5%;
    padding-top: 5%;
    /* border: black solid 2px;
    margin-bottom: 30px; */
}

.button {
    width: 150px;
    height: 50px;
    background-color: teal;
    z-index: 3;
    border-radius: 5%;
    text-decoration-color: burlywood;
    font-size: 20px;
    visibility: hidden;
    /* need animation */
}

@-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-duration: 1s;
    animation-duration: 3s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}

/////////

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 3s;
}

/* ///////////////// */

@-webkit-keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
    -webkit-animation-duration: 1s;
    animation-duration: 3s;
}
.score1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    font-size: 50px;
}

.score2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    font-size: 50px;
    color: burlywood;
}

@media (min-width: 15000px) {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        flex-direction: column;
        overflow: hidden;
    }
    .containertitleBoard {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 60vh;
        flex-direction: row;
        margin-top: 20px;
        align-items: flex-start;
    }

    .victoryBox1 {
        /* background-color: grey;
    border: solid black 1px; */
        height: 80vh;
        width: 40vh;
        text-align: center;
        visibility: hidden;
    }
    .victoryBox2 {
        /* background-color: grey;
    border: solid black 1px; */
        height: 80vh;
        width: 40vh;
        text-align: center;
        color: burlywood;
        visibility: hidden;
    }
}
